.page__meta {
  font-size: 0.9rem;
  color: #646769;
  margin-bottom: 5px;
  font-style: italic;
}

.author__title {
  margin-top: 20px;
}

.side-icons li > a {
  display: flex;
}

.side-icons li > a > span {
  margin-left: 5px;
}
