.main {
  margin-top: 70px;
}

header .layout__icons a {
  margin-left: 10px;
}

footer .layout__icons a {
  margin-left: 10px;
}

.layout__footer {
  padding: 1.5rem;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

.lang-switch {
  display: flex;
  align-items: center;

  span {
    font-size: 0.6rem;
  }
}

.active-lang {
  font-weight: 600;
}
