.author {
  padding: 2rem 0;
}

.authorName {
  padding-top: 1rem;
}

.authorTitle {
}

.recentPosts {
  border-bottom: 1px solid #f2f3f3;
  margin: 1.5rem 0 1rem 0;
}

.page__meta {
  font-size: 0.7rem;
  color: #646769;
  margin-bottom: 5px;
}

.page__meta > svg {
  margin-right: 5px;
}

